<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants>
        <grant name="write" default="member">
            <title xml:lang="ko">광고 등록 권한</title>
        </grant>
    </grants>
    <permissions>
        <permission action="dispPlusadAdminstart" target="manager" />
        <permission action="procPlusadAdminstart" target="manager" />
        <permission action="dispPlusadAdmingrantset" target="manager" />
        <permission action="dispPlusadAdminskininfo" target="manager" />
        <permission action="dispPlusadAdminlog" target="manager" />
        <permission action="dispPlusadAdminlogdelete" target="manager" />
        <permission action="dispPlusadAdminlogdeleteall" target="manager" />
        <permission action="dispPlusadAdminlogdeletelast" target="manager" />
    </permissions>
	<actions>
        <action name="dispPlusadAdminstart" type="view"  admin_index="true" /> <!--//시작화면-->
        <action name="procPlusadAdminstart" type="controller"  /> <!--//시작화면-->
		<action name="dispPlusadAdmingrantset" type="view"  /> <!--//권한설정-->
		<action name="dispPlusadAdminskininfo" type="view"  /> <!--//스킨설정-->
		<action name="dispPlusadAdminlog" type="view"  /> <!--//광고로그-->
		<action name="dispPlusadAdminlogdelete" type="view"  /> <!--//광고로그 개별삭제-->
		<action name="dispPlusadAdminlogdeleteall" type="view"  /> <!--//광고로그 전체삭제-->
		<action name="dispPlusadAdminlogdeletelast" type="view"  /> <!--//광고로그 진행종료 삭제-->
		
        <action name="dispPlusadlist" type="view"  index="true" /> <!--//광고목록-->
		<action name="dispPlusadlistuser" type="view" /> <!--//내광고목록-->
        <action name="dispPlusadwrite" type="view"  /> <!--//광고등록-->
        <action name="procPlusadwrite" type="controller"  /> <!--//광고등록-->
		<action name="dispPlusaddelete" type="view"  /> <!--//광고삭제-->
		<action name="dispPlusadUpdate" type="view" /> <!--//광고수정-->
		<action name="procPlusadUpdate" type="controller" /> <!--//광고수정-->
	</actions>
</module>