/** 테이블 **/
.ad_table{width:100%;}
.ad_table a, .ad_page_navi a{text-decoration:none; color:var(--color-black);}
.ad_table thead {background-color: var(--color-gray-200);}
.text_center{text-align:center;}

/** 폼박스 **/
.plusad_form_box{margin:0 5px; padding:7px; border-radius:4px; background:var(--color-gray-050) !important; border:1px solid var(--color-gray-400); outline:none; box-shadow:0 0 1px var(--color-gray-400); color: var(--color-gray-900);}
.plusad_form_box:hover{border:1px solid var(--color-gray-700); background:var(--color-gray-100); box-shadow: 0 0 2px 1px #5bc0de;}
.plusad_form_box:focus{border:1px solid var(--color-gray-900); background:var(--color-gray-100); box-shadow: 0 0 2px 1px #5bc0de;}

#ad_url::placeholder {color: var(--color-gray-500);}

/** 경계선 **/
.plusad_div_line{margin:10px 0px; width:100%; height:1px; background:var(--color-gray-400);} 


/** 버튼정의 **/
.plusad_btn_blue{margin:3px; padding:10px; border-radius:5px; background:#428bca; color:white; border:none; outline:none; float:left; transition: ease .2s;}

.plusad_btn_red{margin:3px; padding:10px; border-radius:5px; background:#D44B4B; color:white; border:none; outline:none; float:left; transition: ease .2s;}

.plusad_btn_green{margin:3px; padding:10px; border-radius:5px; background:lightseagreen; color:white; border:none; outline:none; float:left; transition: ease .2s;}

.plusad_btn_black{margin:3px; padding:10px; border-radius:5px; background:#555; color:white; border:none; outline:none; float:left; transition: ease .2s;}

.plusad_btn_blue:hover{cursor:pointer; background:#207BCA;}
.plusad_btn_red:hover{cursor:pointer; background:#D52E2E;}
.plusad_btn_green:hover{cursor:pointer; background:#0FACC2;}
.plusad_btn_black:hover{cursor:pointer; background:#000;}


/** 애니메이션 효과 **/
.plusad_effect{-webkit-transition:.3s linear; -moz-transition:.3s linear; -o-transition:.3s linear; transition:.3s linear;}

/** 페이지 네비 **/
.ad_page_navi{text-align:center;}
.ad_page_navi .pg_select{border:1px solid var(--color-gray-400); background:var(--color-gray-050); color:var(--color-black); transition: ease .2s;}
.ad_page_navi a{font-weight:bold; color:var(--color-gray-700); padding:5px 9px; display:inline-block; border-radius:3px; border:1px solid var(--color-gray-400);}
.ad_page_navi a:hover{border:1px solid var(--color-gray-500); background:var(--color-gray-100); color: var(--color-gray-800);}

/** 텍스트효과 **/
.ad_text{border:1px solid var(--color-gray-500); padding:4px; border-radius:5px;}
.ad_text:hover{border:1px solid var(--color-gray-700); background:var(--color-gray-100);}

/* 배경색 강제지정 */
.app-content > div {
    background-color: var(--color-gray-050) !important;
    color: var(--color-black) !important;
    border: 1px solid var(--color-gray-400) !important;
    border-radius: 10px !important;
    padding: 10px;
}

/* 남은시간 가시성 */
td.text_center>a:not([href]) {color: #48f !important;}